<div>
<table style="width: 100%;">
    <tr>
        <td style="text-align: right;">
            <mat-icon *ngIf="!maxSize" (click)="maximizeDialog()">unfold_more</mat-icon>
            <mat-icon *ngIf="maxSize" (click)="minimizeDialog()">unfold_less</mat-icon>
            <mat-icon  (click)="closeDialog()">clear</mat-icon>
        </td>
    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Registrar venta</h2>
<!--{{this.data | json}}-->
<hr>
<p></p>

<table style="width:90%">
    <tr>
        <td>
            <label >VIN</label>
        </td>
        <td>
            <label >Distribuidor</label>
        </td>
        <td>
            <label >Sucursal</label>
        </td>

        <td>

        </td>
        <td></td>
    </tr>
    <tr *ngFor="let uni of data">
        <td>
            <label >{{uni.vin}}</label>
        </td>
        <td>
            <label >{{uni.strNombreDealer}}</label>
        </td>
        <td>
            <label >{{uni.strLocalidad}}</label>
        </td>

        <td>
            <button *ngIf="uni.intIdTraspaso == 0" (click)="insertaPendientes(uni.vin)"   type="button" ><mat-icon>check</mat-icon>Enviar a registro</button>
        </td>

    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Pendientes de registro de venta</h2>
<!--{{this.data | json}}-->
<hr>
<p></p>

<table style="width:90%">
    <tr>
        <td>
            <label >VIN</label>
        </td>
        <td>
            <label >Cancelar registro</label>
        </td>
    </tr>
    <tr *ngFor="let uni of ListRegistrosPendientes">
        <td>
            <label >{{uni.vin}}</label>
        </td>
        <td>
            <button  style="font-size:x-small;"  title="Cancelar registro" (click)="eliminaRegistroVenta(uni.vin)"   type="button" ><mat-icon>delete</mat-icon></button>
        </td>
    </tr>
</table>
</div>