<table style="width: 100%;">
    <tr>
        <td style="text-align: right;">
            <mat-icon *ngIf="!maxSize" (click)="maximizeDialog()">unfold_more</mat-icon>
            <mat-icon *ngIf="maxSize" (click)="minimizeDialog()">unfold_less</mat-icon>
            <mat-icon  (click)="closeDialog()">clear</mat-icon>
        </td>
    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Transferir unidades</h2>
<!--{{this.data | json}}-->
<hr>
<p></p>

<table style="width:90%">
    <tr>
        <td>
            <label >VIN</label>
        </td>
        <td>
            <label >Distribuidor origen</label>
        </td>
        <td>
            <label >Distribuidor destino</label>
        </td>
        <td>
            <label >Tipo pago</label>
        </td>

        <td>

        </td>
        <td></td>
    </tr>
    <tr *ngFor="let uni of data">
        <td>
            <label >{{uni.vin}}</label>
        </td>
        <td>
            <label >{{uni.strNombreDealer}}</label>
        </td>
        <td *ngIf="uni.intUnidadApartada == 0">
            <label *ngIf="errorDistribuidor" style="color: red;">Selecciona el distribuidor</label>
            <mat-form-field appearance="fill">
                <mat-label>Distribuidor</mat-label>
                <mat-select
                (selectionChange)="getNuevoDistribuidor($event.value)">
                  <mat-option 
                  *ngFor="let distribubidor of ListDistribuidoresCombo" 
                  [value]="distribubidor.gfx">
                  {{distribubidor.strNombreDealer}}
                </mat-option>

                </mat-select>
              </mat-form-field>
        </td>
        <td *ngIf="uni.intUnidadApartada > 0">
            <label >{{uni.strNombreDealerSolicitante}}</label>
        </td>
        <td>
            <label *ngIf="errorTipoPago" style="color: red;">Selecciona el tipo de pago</label>
            <mat-form-field appearance="fill">
                <mat-label>Tipo pago</mat-label>
                <mat-select
                (selectionChange)="getTipoPago($event.value)">
                  <mat-option 
                  *ngFor="let tipoPago of ListTiposPagoCombo" 
                  [value]="tipoPago.pk_TipoPago">
                  {{tipoPago.tx_Descripcion}}
                </mat-option>

                </mat-select>
              </mat-form-field>
        </td>

        <td>
            
            <button *ngIf="uni.intIdTraspaso == 0" (click)="guardarSolicitudTraslado(uni,1)"   type="button" ><mat-icon>check</mat-icon>Solicitar tranferencia</button>
    
        </td>
   
    </tr>
</table>
