
<mat-nav-list>
  <img width="40"
  alt="Angular Logo"
  src="assets/navistar-logo.ico" />
<a style="color:orange;" routerLink="/home">Dealer Stock</a>
  
  <hr />
  <!--<<mat-list-item  [matMenuTriggerFor]="menuSis">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Catálogos</a>
  </mat-list-item>-->
  <a mat-list-item routerLink="/unidades"> <mat-icon style="color: orange;">list</mat-icon> <span class="nav-caption"> Inventario</span></a>
  <hr/>
  <a mat-list-item routerLink="/capturaventa"> <mat-icon style="color: orange;">store</mat-icon> <span class="nav-caption"> Datos de venta</span></a>
  <hr/>
  <a mat-list-item routerLink="/listadopublicadas"> <mat-icon style="color: orange;">public</mat-icon> <span class="nav-caption"> Unidades publicadas</span></a>
  <hr/>
  <a mat-list-item routerLink="/ReporteVentasentas"> <mat-icon style="color: orange;">list</mat-icon> <span class="nav-caption"> Reporte de ventas</span></a>
  <hr/>
  <a mat-list-item routerLink="/UnidadesEntregadas"> <mat-icon style="color: orange;">commute</mat-icon> <span class="nav-caption"> Unidades entregadas</span></a>
  <hr/>
  <a mat-list-item routerLink="/home"> <mat-icon>home</mat-icon> <span class="nav-caption"> Inicio</span></a>

</mat-nav-list>
