<mat-toolbar  style="background-color:white">
  <!--<div>
   <button mat-icon-button (click)="onToggleSidenav()"> 
      <mat-icon>menu</mat-icon>
    </button>
  </div>-->
  <div>
    <img width="40"
         alt="Angular Logo"
         src="assets/navistar-logo.ico" />
    <a style="color:orange;" routerLink="/home">Dealer Stock</a>
  </div>

  <div class="row" style="width:100%; text-align:right" >

    <div class="col-md-8">
      <form  #formActivationRequestSearch="ngForm">
        <mat-icon style="color:black;" class="material-icons color_white">search</mat-icon>
       <input style="font-size:medium; width: 20%; border-style: solid; border-color: gainsboro;" placeholder="VIN"  (change)="openDialogListadoVIN (formActivationRequestSearch)" id="formBusquedaGral" name="formBusquedaGral" class="form-control"  [(ngModel)]="vinBus2">
     </form>
     
      <!--<a style="color:orange;" mat-list-item routerLink="/home"> <mat-icon>home</mat-icon></a>
      {{UsuarioFirmado.nombreCompleto}} -->
    </div>
    <div class="col-md-4" >
      
    </div>
      <!--<div class="col-md-1" >
      <button 
      class="mat-icon-button"
      (click)="download()"><mat-icon>help_outline</mat-icon></button>
    </div>-->

  </div>

</mat-toolbar >



