<!--{{this.DetalleUnidad  | json}}-->

<table style="width: 100%;">
    <tr>
        <td style="text-align: right;">
            <mat-icon *ngIf="!maxSize" (click)="maximizeDialog()">unfold_more</mat-icon>
            <mat-icon *ngIf="maxSize" (click)="minimizeDialog()">unfold_less</mat-icon>
            <mat-icon  (click)="closeDialog()">clear</mat-icon>
        </td>
    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Detalle de unidad {{this.DetalleUnidad.vin}}</h2>
<!--{{this.data | json}}-->
<hr>
<p></p>
<table style="width: 100%;">
    <tr>
        <td>
            Modelo:
            <label style="color: rgba(0, 94, 255, 0.679);">{{this.DetalleUnidad.modelo}}</label>
        </td>
        <td>
            Clase corporativa:
            <label style="color: rgba(0, 94, 255, 0.679);">{{this.DetalleUnidad.claseCorporativa}}</label>
        </td>
        <td>
            Motor:
            <label style="color: rgba(0, 94, 255, 0.679);">{{this.DetalleUnidad.motor}}</label>
        </td>

        <td>
            Distribuidor:
            <label style="color: rgba(0, 94, 255, 0.679);">{{this.DetalleUnidad.strNombreDealer}}</label>
        </td>
        <td>
            Estatus:
            <label style="color: rgba(0, 94, 255, 0.679);"> {{this.DetalleUnidad.status}} </label>
        </td>
    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Pedido</h2>
<hr>
<table style="width:90%">
    <tr>
        <td>
            <label >Orden</label>
        </td>
        <td>
            <label >Cliente</label>
        </td>
        <td>
            <label >Job</label>
        </td>
        <td>
            <label >Fecha Producción</label>
        </td>
        <td>
            <label >Paso</label>
        </td>
        <td>
            <label >Fecha paso</label>
        </td>
        <td>
            <label >Fecha orden</label>
        </td>

        <td>

        </td>
        <td></td>
    </tr>
    <tr *ngFor="let ped of Pedidos" style="color: rgba(0, 94, 255, 0.679);">
        <td>
            <label >{{ped.cD_ORDEN}}</label>
        </td>
        <td>
            <label >{{ped.nB_CLIENTE}}</label>
        </td>

        <td>
            <label >{{ped.cD_JOB}}</label>
        </td>
        <td>
            <label >{{ped.fH_PRODUCCION | date: 'fullDate'}}</label>
        </td>
        <td>
            <label >{{ped.cD_PASO}}</label>
        </td>
        <td>
            <label >{{ped.fH_PASO | date: 'fullDate'}}</label>
        </td>
        <td>
            <label >{{ped.fH_ORDEN | date: 'fullDate'}}</label>
        </td>


    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Traspasos</h2>
<hr>
<table style="width:90%">
    <tr>
        <td>
            <label >Fecha traspaso</label>
        </td>
        <td>
            <label >Distribuidor origen</label>
        </td>
        <td>
            <label >Localidad origen</label>
        </td>
        <td>
            <label >Distribuidor destino</label>
        </td>
        <td>
            <label >Localidad destino</label>
        </td>
        <td>
            <label >Estatus</label>
        </td>
        <td>
            <label >Fecha cambio estatus</label>
        </td>

        <td>

        </td>
        <td></td>
    </tr>
    <tr *ngFor="let ven of TraspasosUnidad" style="color: rgba(0, 94, 255, 0.679);">
        <td>
            <label >{{ven.fecha_Traspaso | date: 'fullDate'}}</label>
        </td>
        <td>
            <label >{{ven.strDistribuidorAnterior}}</label>
        </td>
        <td>
            <label >{{ven.strLocalidadAterior}}</label>
        </td>
        <td>
            <label >{{ven.strDistribuidorNuevo}}</label>
        </td>
        <td>
            <label >{{ven.strLocalidadNueva}}</label>
        </td>
        <td>
            <label >{{ven.strEstatus}}</label>
        </td>
        <td>
            <label >{{ven.fecha_status | date: 'fullDate'}}</label>
        </td>

    </tr>
</table>

<h2 style="color:rgb(42, 42, 138);">Ventas</h2>
<hr>
<table style="width:90%">
    <tr>
        <td>
            <label >Fecha venta</label>
        </td>
        <td>
            <label >Plaza</label>
        </td>
        <td>
            <label >Cliente final</label>
        </td>
        <td>
            <label >UUID</label>
        </td>
        <td>
            <label >Aplicación</label>
        </td>
        <td>
            <label >Cancelaciones</label>
        </td>

        <td>

        </td>
        <td></td>
    </tr>
    <tr *ngFor="let ven of VentasUnidad" style="color: rgba(0, 94, 255, 0.679);">
        <td>
            <label >{{ven.fchDeVenta | date: 'fullDate'}}</label>
        </td>
        <td>
            <label >{{ven.strPlaza}}</label>
        </td>
        <td>
            <label >{{ven.clienteFinal}}</label>
        </td>
        <td>
            <label >{{ven.uID}}</label>
        </td> 
        <td>
            <label >{{ven.strAplicacion}}</label>
        </td>
        <td>
            <label >{{ven.intNumCancelaciones}}</label>
        </td>

    </tr>
</table>