<div class="main-content">

  <div class="cabecera">
    <!--<mat-icon>code</mat-icon>Subir XML
    {{this.listModelosTemp | json}}-->
    <table>
      <tr>

        <td>
          <button class="MyButton"  type="button" (click)="reagrupaIOnventario(1)" ><mat-icon class="material-icons color_white">group_work</mat-icon>VIN</button>
      </td>
      <td>
        <button  class="MyButton"  type="button" (click)="reagrupaIOnventario(2)" ><mat-icon class="material-icons color_white">group_work</mat-icon>Clas. corporativa</button>
      </td>
      <td>
        <button  class="MyButton"  type="button" (click)="reagrupaIOnventario(3)" ><mat-icon class="material-icons color_white">group_work</mat-icon>Antigüedad</button>
      </td>
      <td>
        <button  class="MyButton"  type="button" (click)="buscadatos(true)" ><mat-icon class="material-icons color_white">compare_arrows</mat-icon>Pendiente de traspaso</button>
      </td>
      <!--<td *ngIf="intTipoBusqueda == 1"><mat-icon style="color:black;" class="material-icons color_white">search</mat-icon><input  matInput placeholder="VIN,Modelo,Clasificación,Motor" id="idBusquedaVIN" name="idBusquedaVIN" class="form-control"  [(ngModel)]="vinBus"></td>-->
      
      <td *ngIf="intTipoBusqueda == 2 || intTipoBusqueda == 1">               
        <form  #formActivationRequestSearch="ngForm">
          <mat-icon style="color:black;" class="material-icons color_white">search</mat-icon>
         <input  (change)="busquedaPorTexto(20,1,' ', ' ',formActivationRequestSearch)" matInput placeholder="VIN,Modelo,Clasificación,Motor" id="formBusqueda" name="formBusqueda" class="form-control"  [(ngModel)]="vinBus2">
       </form>
       </td>
      
      <td>
        <button class="MyButton"  type="button" (click)="buscadatos(false)" ><mat-icon class="material-icons" style="color:black;">loop</mat-icon>Recargar inventario</button>
      </td>
      <td>
        <mat-form-field appearance="fill">
          <mat-label>Visualizar</mat-label>
          <mat-select  
            multiple 
            (selectionChange)="muestraColumnas($event.value)" 
            [(ngModel)]="selectedObjects">
            <mat-option 
            *ngFor="let columna of columnasList" 
            [value]="columna.value">
             {{columna.label}}
          </mat-option>

          </mat-select>
        </mat-form-field>
      </td>
      <td>
        <button   (click)="ExportTOExcelUnidades()" type="button" class="MyButton"  data-toggle="modal"><mat-icon class="material-icons" style="color:green;">calculate</mat-icon>Excel</button>
      </td>

      <td>
        <!--<mat-form-field appearance="fill">
          <mat-label>Visualizar</mat-label>
          <mat-select [formControl]="toppings" multiple>
            <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
          </mat-select>
        </mat-form-field>-->

      </td>
    </tr>
    </table>

    <hr>
  </div>
  
  <mat-drawer-container class="example-container">
    <mat-drawer style="width: 15%; background-color: rgb(234, 233, 233);" mode="side" opened> Inventario</mat-drawer>
    <hr>
    <mat-drawer-content>
      
      <table style="overflow:hidden;">
        <tr>
          <td style="width:85%">
            <div class="table">
              <div class="container-fluid"  style="overflow-y:scroll;">
                <table>
                  <tr>
                    
                  </tr>
                  <tr>
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Clasificación corporativa</mat-label>
                        <mat-select  
                        (selectionChange)="buscaPorClasCorpo($event.value)" >
                          <mat-option 
                          *ngFor="let clasCorpo of ListClasCorpoCombo" 
                          [value]="clasCorpo.idClasCorp">
                          {{clasCorpo.nombre}}
                        </mat-option>
  
                        </mat-select>
                      </mat-form-field>
                    </td>
  
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Distribuidor</mat-label>
                        <mat-select  
                          (selectionChange)="getLocalidadesByDistribuidor($event.value)" >
                          <mat-option 
                          *ngFor="let distribubidor of ListDistribuidoresCombo" 
                          [value]="distribubidor.gfx">
                          {{distribubidor.strNombreDealer}}
                        </mat-option>
  
                        </mat-select>
                      </mat-form-field>
  
                    </td>
  
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Sucursales</mat-label>
                        <mat-select  
                          (selectionChange)="getLocalidades($event.value)" >
                          <mat-option 
                          *ngFor="let localidad of ListLocalidadesCombo" 
                          [value]="localidad.idlocalidad">
                          {{localidad.strNombreLocalidad}}
                        </mat-option>
  
                        </mat-select>
                      </mat-form-field>
  
                    </td>
  
                    <td>
                      <mat-form-field appearance="fill">
                        <mat-label>Antigüedad</mat-label>
                      <mat-select   name="formAntiguedad2"  #antiguedadValue placeholder="Antigüedad"  (selectionChange)="buscaPorAntiguedad($event.value)">
                        <mat-option  [value]="0">Todos</mat-option>
                        <mat-option  [value]="1">0 a 30 días</mat-option>
                        <mat-option  [value]="2">31 a 60 días</mat-option>
                        <mat-option  [value]="3">61 a 90 días</mat-option>
                        <mat-option  [value]="4">91 a 120 días</mat-option>
                        <mat-option  [value]="5">121 a 180 días</mat-option> 
                        <mat-option  [value]="6">181 o más</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    </td>
                    <td>
  
                      <!--<p>{{selectedObjects | json}}</p>-->
                    </td>
  
                  </tr>
                  <tr>
                    <td>
                      <button class="MyButton"  type="button" (click)="openDialogMasiveTraspasos(ListUnidades)"><mat-icon class="material-icons color_white">compare_arrows</mat-icon>Traspasar entre sucursales</button>
                      
                    </td>
                    <td>
                      <button  class="MyButton"  type="button" (click)="openRegistrarVenta(ListUnidades)"><mat-icon class="material-icons color_white">assignment</mat-icon>Registrar venta</button>
                    </td>
                    <td>
                      <button  class="MyButton"  type="button" (click)="openDialogMasiveTransferencias(ListUnidades)"><mat-icon class="material-icons color_white">redo</mat-icon>Transferir</button>
                    </td>
                    <td>
                      <button  class="MyButton"  type="button" (click)="openDialogPublicarRed(ListUnidades)"><mat-icon class="material-icons color_white">publish</mat-icon>Publicar a la red</button>
                    </td>
                    <td><mat-paginator style="font-size:x-small;" *ngIf="intTipoBusqueda == 1" [length]="ListUnidades.length" [pageSize]="20" 
                      (page)="handlePageUnidadesVIN($event)">
                    </mat-paginator>
                  </td>
                  </tr>
                </table>
                <!--busqueda por Clase y Modelo--> 
                <table  *ngIf="intTipoBusqueda == 2"> 
                  <thead >
                    <tr>
            
                      <td scope="col">
                        <!--<button *ngIf="intTipoBusqueda == 2" class="MyButton"  type="button" (click)="enviarAPendientes(ListUnidades)"><mat-icon class="material-icons color_white">assignment</mat-icon>Mandar seleccionados a pendientes</button>-->
                        <button *ngIf="intTipoBusqueda == 2" class="MyButton"  type="button" (click)="expandeContrae(1)" ><mat-icon class="material-icons color_white">reorder</mat-icon>Expandir todo</button>
                      <button *ngIf="intTipoBusqueda == 2" class="MyButton"  type="button" (click)="expandeContrae(2)" ><mat-icon class="material-icons color_white">list</mat-icon>Contraer todo</button></td>
                    </tr>
                  </thead>
                  <tbody *ngFor="let clasesCorpo of ListClasesCorpo">
                    <tr >
                      <table style="background-color:rgb(241, 241, 241) ;">
                        <tr>
                          <td style="font-size:x-small; width: 20%;" *ngIf=" clasesCorpo.intNumReg > 0">
                            <button style="font-size:x-small;" *ngIf="!muestraModelos && clasesCorpo.intNumReg > 0" (click)="getModelosPorClase(20,1,clasesCorpo.idClasCorp,clasesCorpo)"  type="button" ><mat-icon>keyboard_arrow_right</mat-icon>{{clasesCorpo.nombre}}</button>
                            <button style="font-size:x-small;" *ngIf="muestraModelos && IdClasCorpActual != clasesCorpo.idClasCorp && clasesCorpo.intNumReg > 0" (click)="getModelosPorClase(20,1,clasesCorpo.idClasCorp,clasesCorpo)"  type="button" ><mat-icon>keyboard_arrow_right</mat-icon>{{clasesCorpo.nombre}}</button>
                            <button style="font-size:x-small;" *ngIf="muestraModelos && IdClasCorpActual == clasesCorpo.idClasCorp && clasesCorpo.intNumReg > 0" (click)="limpiaModelos(clasesCorpo)"   type="button" ><mat-icon>arrow_drop_down</mat-icon>{{clasesCorpo.nombre}}</button>
      
                          </td>
                          <td *ngIf=" clasesCorpo.intNumReg > 0">
                            <label style="color:darkblue;">{{clasesCorpo.intNumReg}} unidades</label>
                          </td>
                        </tr>
                      </table>
                    </tr>
                    <tr>
                      <td *ngIf="clasesCorpo.bitExpandir">
                        <table class="table" >
                          <td>
  
  
                            <input  matInput placeholder="Modelo" id="idBusquedaVIN" name="idBusquedaVIN" class="form-control"  [(ngModel)]="ModeloBus">
                          </td>
                          <tbody *ngFor="let modelo of ListModelos | modelos: ModeloBus  let indice=index;">
    
                            <tr *ngIf="modelo.idClasCorp == clasesCorpo.idClasCorp
                            && clasesCorpo.bitExpandir
                            && modelo.intNumReg > 0">
                              <!--<th scope="row">{{ i + 1 }}</th>-->
  
                                  <td colspan="2" style="font-size:x-small; width:15%;">
                                    <button style="color:rgb(17, 17, 108);font-size:x-small;" *ngIf="!modelo.bitExpandir" (click)="getUnidadesPorModelo(20,1,modelo.modelo,modelo)"  type="button" ><mat-icon>keyboard_arrow_right</mat-icon>{{modelo.modelo}}</button>
                                    <button style="font-size:x-small;" *ngIf="modelo.bitExpandir" (click)="limpiaUnidades(modelo)"  type="button" ><mat-icon>arrow_drop_down</mat-icon>{{modelo.modelo}}</button>
                                    
                                  </td>
                                  <td *ngIf=" modelo.intNumReg > 0" style="text-align:left; width:25%;">
                                    <label style="color:darkblue;">{{modelo.intNumReg}} unidades</label>
                                  </td>
  
  
                            </tr>
                            <tr *ngIf="modelo.idClasCorp == clasesCorpo.idClasCorp
                            && modelo.bitExpandir
                            && modelo.intNumReg > 0">
                              <td colspan="4">
                                <table style="width:90%" class="table" >
                                  <tr style="color:blue;">
                                    <td *ngIf="col1">VIN</td>
                                    <td *ngIf="col11">Pedido</td>
                                    <td *ngIf="col4">Distribuidor</td>
                                    <td *ngIf="col10">Sucursal</td>
                                    <td *ngIf="col6">Fecha inventario</td>
                                    <td *ngIf="col5">Motor</td>
                                    <td *ngIf="col7">Días plan</td>
                                    <td *ngIf="col8">Estatus</td>
                                    <td *ngIf="col9">Antigüedad</td>
                                    <td>Acción pendiente</td>
                                  </tr>
                                  <tbody  *ngFor="let unidad of ListUnidades
                                                  let indice=index;">
  
                                    <tr style="font-size:x-small;" *ngIf="unidad.modelo == modelo.modelo
                                    && unidad.idClasCorp == clasesCorpo.idClasCorp">
                                      <!--<th scope="row">{{ i + 1 }}</th>-->
                                      <td *ngIf="col1">
                                        <mat-checkbox *ngIf="unidad.intIdTraspaso == 0
                                                            && unidad.bitTieneRegistroPendiente ==0"
                                        [checked]="unidad.bitChecked" 
                                        (change)="valueChange(unidad,$event)">
                                        </mat-checkbox>
                                        <label (click)="openDetalleVIN(unidad.vin)" style="color: blue;">{{unidad.vin}}</label>
                                      </td>
                                      <td *ngIf="col11">
                                        {{unidad.strPedido}}
                                      </td>
                                      <td *ngIf="col4">
                                        {{unidad.strNombreDealer}}
                                      </td>
                                      <td *ngIf="col10">
                                        {{unidad.strLocalidad}}
                                      </td>
                                      <td *ngIf="col6">
                                        {{unidad.fchInventario | date: 'fullDate'}}
                                      </td>
                                      <td *ngIf="col5">
                                          {{unidad.motor}}
                                      </td>
                                      <td *ngIf="col7">
                                        {{unidad.diasPlan}}
                                    </td>
                                    <td *ngIf="col8">
                                      {{unidad.status}}
                                  </td>
                                  <td *ngIf="col9">
                                    {{unidad.intAntiguedad}} días
                                </td>
                            <td>
                              <button *ngIf="unidad.intIdTraspaso > 0" style="font-size:x-small;" (click)="openDialogTraspasos(unidad)" title="Traspaso entre sucursales"   type="button" ><mat-icon>compare_arrows</mat-icon></button>
                              <button *ngIf="unidad.bitTieneRegistroPendiente > 0" style="font-size:x-small;"  title="Registro de venta"   type="button" ><mat-icon>assignment</mat-icon></button>
                          </td>
                                    </tr>                               
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
    
  
                              <!--agrupado por antiguedad-->
                              <table  *ngIf="intTipoBusqueda == 3">
  
                                <thead >
                                  <tr>
                                    <!--<th scope="col"><button *ngIf="intTipoBusqueda == 3" class="MyButton"  type="button" (click)="enviarAPendientes(ListUnidades)" ><mat-icon class="material-icons color_white">assignment</mat-icon>Mandar seleccionados a pendientes</button></th>-->
                                  </tr>
                                </thead>
                                <tbody *ngFor="let clasesCorpoAnt of ListClasesCorpoByAntiguedad let indice=index;">
  
                                <tr *ngIf="clasesCorpoAnt.intNumReg > 0">
  
                                  <td>
                                    <table *ngFor="let idAntiguedad of listaIdAntiguedad"  >
                                <tr *ngIf="clasesCorpoAnt.intIdAntiguedad == idAntiguedad && clasesCorpoAnt.intNumReg > 0">                          
                                  <td >
                                  <table >
                                  <tr >
                                    <table>
                                      <tr >
                                        <table style="background-color:rgb(241, 241, 241) ;">
                                          <tr>
                                            <td style="font-size:x-small; width: 20%;" *ngIf=" clasesCorpoAnt.intNumReg > 0">
                                              <button style="font-size:x-small;" *ngIf="!muestraModelos && clasesCorpoAnt.intNumReg > 0" (click)="getModelosPorClase(20,1,clasesCorpoAnt.idClasCorp,clasesCorpoAnt)"  type="button" ><mat-icon>keyboard_arrow_right</mat-icon>{{clasesCorpoAnt.nombre}}</button>
                                              <button style="font-size:x-small;" *ngIf="muestraModelos && IdClasCorpActual != clasesCorpoAnt.idClasCorp && clasesCorpoAnt.intNumReg > 0" (click)="getModelosPorClase(20,1,clasesCorpoAnt.idClasCorp,clasesCorpoAnt)"  type="button" ><mat-icon>keyboard_arrow_right</mat-icon>{{clasesCorpoAnt.nombre}}</button>
                                              <button style="font-size:x-small;" *ngIf="muestraModelos && IdClasCorpActual == clasesCorpoAnt.idClasCorp && clasesCorpoAnt.intNumReg > 0" (click)="limpiaModelos(clasesCorpoAnt)"   type="button" ><mat-icon>arrow_drop_down</mat-icon>{{clasesCorpoAnt.nombre}}</button>
                                            </td>
                                            <td *ngIf=" clasesCorpoAnt.intNumReg > 0">
                                              <label *ngIf="clasesCorpoAnt.intIdAntiguedad == 1 ">De 0 a 30 días - </label>
                                              <label *ngIf="clasesCorpoAnt.intIdAntiguedad == 2">De 31 a 60 días - </label>
                                              <label *ngIf="clasesCorpoAnt.intIdAntiguedad == 3">De 61 a 90 días - </label>
                                              <label *ngIf="clasesCorpoAnt.intIdAntiguedad == 4">De 91 a 120 días - </label>
                                              <label *ngIf="clasesCorpoAnt.intIdAntiguedad == 5">De 121 a 180 días - </label>
                                              <label *ngIf="clasesCorpoAnt.intIdAntiguedad == 6">Más de 180 días - </label>
                                              <label style="color:darkblue;"> {{clasesCorpoAnt.intNumReg}} unidades</label>
                                              
                                            </td>
                                          </tr>
                                        </table>
                                      </tr>
                                      <tr>
                                        <td *ngIf="clasesCorpoAnt.bitExpandir">
                                          <table class="table" >
                                            <td>
                                              <input  matInput placeholder="Modelo" id="idBusquedaModelo" name="idBusquedaModelo" class="form-control"  [(ngModel)]="ModeloBus">
                                            </td>
                                            <tbody *ngFor="let modeloAnt of ListModelos | modelos: ModeloBus  let indice=index;">
                
                                              <tr *ngIf="modeloAnt.idClasCorp == clasesCorpoAnt.idClasCorp
                                              && clasesCorpoAnt.bitExpandir
                                              && modeloAnt.intNumReg > 0
                                              && modeloAnt.idAntiguedad == idAntiguedad">
                                                <!--<th scope="row">{{ i + 1 }}</th>-->
                
                                                    <td colspan="2" style="font-size:x-small; width:15%;">
                                                      <button style="color:rgb(17, 17, 108);font-size:x-small;" *ngIf="!modeloAnt.bitExpandir" (click)="getUnidadesPorModelo(20,1,modeloAnt.modelo,modeloAnt)"  type="button" ><mat-icon>keyboard_arrow_right</mat-icon>{{modeloAnt.modelo}}</button>
                                                      <button style="font-size:x-small;" *ngIf="modeloAnt.bitExpandir" (click)="limpiaUnidades(modeloAnt)"  type="button" ><mat-icon>arrow_drop_down</mat-icon>{{modeloAnt.modelo}}</button>
                                                      
                                                    </td>
                                                    <td *ngIf=" modeloAnt.intNumReg > 0" style="text-align:left; width:25%;">
                                                      <label style="color:darkblue;">{{modeloAnt.intNumReg}} unidades</label>
                                                    </td>
                
                
                                              </tr>
                                              <tr *ngIf="modeloAnt.idClasCorp == clasesCorpoAnt.idClasCorp
                                              && modeloAnt.bitExpandir
                                              && modeloAnt.intNumReg > 0
                                              && modeloAnt.idAntiguedad == idAntiguedad">
                                                <td colspan="4">
                                                  <table style="width:90%" class="table" >
                                                    <tr style="color:blue;">
                                                      <td *ngIf="col1">VIN2</td>
                                                      <td *ngIf="col11">Pedido</td>
                                                      <td *ngIf="col4">Distribuidor</td>
                                                      <td *ngIf="col10">Sucursal</td>
                                                      <td *ngIf="col6">Fecha inventario</td>
                                                      <td *ngIf="col5">Motor</td>
                                                      <td *ngIf="col7">Días plan</td>
                                                      <td *ngIf="col8">Estatus</td>
                                                      <td *ngIf="col9">Antigüedad</td>
                                                      <td>Acción pendiente</td>
                                                    </tr>
                                                    <tbody  *ngFor="let unidad of ListUnidades
                                                                    let indice=index;">
                    
                                                      <tr style="font-size:x-small;" *ngIf="unidad.modelo == modeloAnt.modelo
                                                      && unidad.idClasCorp == clasesCorpoAnt.idClasCorp
                                                      && unidad.idAntiguedad == idAntiguedad">
                                                        <!--<th scope="row">{{ i + 1 }}</th>--> 
                                                        <td *ngIf="col1">
                                                          <mat-checkbox *ngIf="unidad.intIdTraspaso == 0
                                                          && unidad.bitTieneRegistroPendiente ==0"
                                                          [checked]="unidad.bitChecked" 
                                                          (change)="valueChange(unidad,$event)">
                                                          </mat-checkbox>
                                                          <label (click)="openDetalleVIN(unidad.vin)" style="color: blue;">{{unidad.vin}}</label>
                                                        </td>
                                                        <td *ngIf="col11">
                                                          {{unidad.strPedido}}
                                                        </td>
                                                        <td *ngIf="col4">
                                                          {{unidad.strNombreDealer}}
                                                        </td>
                                                        <td *ngIf="col10">
                                                          {{unidad.strLocalidad}}
                                                        </td>
                                                        <td *ngIf="col6">
                                                          {{unidad.fchInventario | date: 'fullDate'}}
                                                        </td>
                                                        <td *ngIf="col5">
                                                            {{unidad.motor}}
                                                        </td>
                                                        <td *ngIf="col7">
                                                          {{unidad.diasPlan}}
                                                      </td>
                                                      <td *ngIf="col8">
                                                        {{unidad.status}}
                                                    </td>
                                                    <td *ngIf="col9">
                                                      {{unidad.intAntiguedad}} días
                                                  </td>
                                              <td>
                                                <button *ngIf="unidad.intIdTraspaso > 0" style="font-size:x-small;" (click)="openDialogTraspasos(unidad)" title="Traspaso entre sucursales"   type="button" ><mat-icon>compare_arrows</mat-icon></button>
                                                <button *ngIf="unidad.bitTieneRegistroPendiente > 0" style="font-size:x-small;"  title="Registro de venta"   type="button" ><mat-icon>assignment</mat-icon></button>
                                              </td>
                                                      </tr>                               
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>
  
                                              <!--<tr *ngIf="clasesCorpoAnt.bitExpandir">
                                                <td colspan="4">
                                                  <table style="width:80%" class="table" >
                                                    <tr style="color:blue;">
                                                      <td *ngIf="col1">VIN</td>
                                                      <td *ngIf="col11">Pedido</td>
                                                      <td *ngIf="col4">Distribuidor</td>
                                                      <td *ngIf="col10">Sucursal</td>
                                                      <td *ngIf="col6">Fecha inventario</td>
                                                      <td *ngIf="col5">Motor</td>
                                                      <td *ngIf="col7">Días plan</td>
                                                      <td *ngIf="col8">Estatus</td>
                                                      <td *ngIf="col9">Antigüedad</td>
                                                    </tr>
                                                    <tbody  *ngFor="let unidad of ListUnidades
                                                                    let indice=index;">
                
                                                      <tr style="font-size:x-small;" 
                                                      *ngIf="unidad.modelo == modelo.modelo
                                                      && unidad.idClasCorp == clasesCorpoAnt.idClasCorp
                                                      && unidad.idAntiguedad == idAntiguedad">
                                    
                                                        <td *ngIf="col1">
                                                          <mat-checkbox
                                                          [checked]="false" 
                                                          (change)="valueChange(unidad,$event)">
                                                          </mat-checkbox>
                                                          {{unidad.vin}} 
                                                        </td>
                                                        <td *ngIf="col11">
                                                          {{unidad.strPedido}}
                                                        </td>
                                                        <td *ngIf="col4">
                                                          {{unidad.strNombreDealer}}
                                                        </td>
                                                        <td *ngIf="col10">
                                                          {{unidad.strLocalidad}}
                                                        </td>
                                                        <td *ngIf="col6">
                                                          {{unidad.fchInventario | date: 'fullDate'}}
                                                        </td>
                                                        <td *ngIf="col5">
                                                            {{unidad.motor}}
                                                        </td>
                                                        <td *ngIf="col7">
                                                          {{unidad.diasPlan}}
                                                      </td>
                                                      <td *ngIf="col8">
                                                        {{unidad.status}}
                                                    </td>
                                                    <td *ngIf="col9">
                                                      {{unidad.intAntiguedad}} días
                                                  </td>
                                                      </tr>                               
                                                    </tbody>
                                                  </table>
                                                </td>
                                              </tr>-->
                                              
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>            
                                    </table>
                                  </tr>
                                  </table>
                                </td>
                                </tr>
                                    </table>
                                  </td>
                              </tr>
  
  
                                </tbody>
                              </table>
  
  
                <!--busqueda por vin-->
                <!--<button *ngIf="intTipoBusqueda == 1" class="MyButton"  type="button" (click)="enviarAPendientes(ListUnidades)" ><mat-icon class="material-icons color_white">assignment</mat-icon>Mandar seleccionados a pendientes</button>-->
                <table style="width:95%;" class="table" *ngIf="intTipoBusqueda == 1">
  
                  <thead >
                    <tr>
                      <!--<th scope="col">
                        <form class="form-busquedaVIN" #formBusquedaVIN="ngForm">
                        <input matInput placeholder="VIN" id="idBusquedaVIN" name="idBusquedaVIN" class="form-control" value="" (change)="buscaVIN(20,1,formBusquedaVIN)" [(ngModel)]="vinBus">
                      </form>
                      </th>-->
                      <th scope="col" *ngIf="col1">VIN</th>
                      <th scope="col" *ngIf="col11">Pedido</th>
                      <th scope="col" *ngIf="col2">Modelo</th>
                      <th scope="col" *ngIf="col3">Clase corporativa</th>
                      <th scope="col" *ngIf="col4">Distribuidor</th>
                      <th scope="col" *ngIf="col10">Sucursal</th>
                      <th scope="col" *ngIf="col5">Motor</th>
                      <th scope="col" *ngIf="col6">Fecha inventario</th>
                      <th scope="col" *ngIf="col7">Días plan</th>
                      <th scope="col" *ngIf="col8">Estatus</th>
                      <th scope="col" *ngIf="col9">Antigüedad</th>
                      <th scope="col">Acción pendiente</th>
                      
                    </tr>
                  </thead>
                  <tbody *ngFor="let unidad of ListUnidades | pagination: page_sizeUni:page_numberUni | numerosParte: vinBus">
                    <tr >
                      <!--<th scope="row">{{ i + 1 }}</th>-->
                      <td *ngIf="col1">
                        <mat-checkbox *ngIf="unidad.intIdTraspaso == 0
                        && unidad.bitTieneRegistroPendiente ==0"
                        [checked]="unidad.bitChecked" 
                        (change)="valueChange(unidad,$event)">
                        </mat-checkbox> 
                        <label (click)="openDetalleVIN(unidad.vin)" style="color: blue;">{{unidad.vin}}</label>
                      </td>
                      <td *ngIf="col11">
                        {{unidad.strPedido}}
                      </td>
                      <td *ngIf="col2">
                        {{unidad.modelo}}
                      </td>
                      <td *ngIf="col3">
                        {{unidad.claseCorporativa}}
                      </td>
                      <td  *ngIf="col4">
                        {{unidad.strNombreDealer}}
                      </td>
                      <td *ngIf="col10">
                        {{unidad.strLocalidad}}
                      </td>
                      <td  *ngIf="col5">
                        {{unidad.motor}}
                      </td>
                      <td  *ngIf="col6">
                        {{unidad.fchInventario | date: 'fullDate'}}
                      </td>
                      <td  *ngIf="col7">
                        {{unidad.diasPlan}}
                      </td>
                      <td  *ngIf="col8">
                        {{unidad.status}}
                      </td>
                      <td  *ngIf="col9">
                        {{unidad.intAntiguedad}} días
                      </td>
                  <td>
                    <button *ngIf="unidad.intIdTraspaso > 0" style="font-size:x-small;" (click)="openDialogTraspasos(unidad)" title="Traspaso entre sucursales"  type="button" ><mat-icon>compare_arrows</mat-icon></button>
                    <button *ngIf="unidad.bitTieneRegistroPendiente > 0" style="font-size:x-small;"  title="Registro de venta"   type="button" ><mat-icon>assignment</mat-icon></button>
                  </td>
                    </tr>
                    <tr>
                      <td>
                        <table class="table">
                          <tbody>
                            <tr >
                              <!--<th scope="row">{{ i + 1 }}</th>-->
                              <td>
                               
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                <!--{{ListUnidades | json}}-->
              
  
            </div> 
            </div>
          </td>
          </tr>
      </table>
      
    </mat-drawer-content>
  </mat-drawer-container>

      
  <div hidden="true" class="table-responsive" #tableUnit>
    <table class="table">
      <tr>
        <th *ngIf="col1">VIN</th>
        <th *ngIf="col11">Pedido</th>
        <th *ngIf="col2">Modelo</th>
        <th *ngIf="col3">Clase corporativa</th>
        <th *ngIf="col4">Distribuidor</th>
        <th *ngIf="col10">Sucursal</th>
        <th *ngIf="col5">Motor</th>
        <th *ngIf="col6">Fecha inventario</th>
        <th *ngIf="col7">Días plan</th>
        <th *ngIf="col8">Estatus</th>
        <th *ngIf="col9">Antigüedad</th>
        
      </tr>
      <tr *ngFor="let unidad of ListUnidades;">
        <td *ngIf="col1">
          {{unidad.vin}}
        </td>
        <td *ngIf="col11">
          {{unidad.strPedido}}
        </td>
        <td *ngIf="col2">
          {{unidad.modelo}}
        </td>
        <td *ngIf="col3">
          {{unidad.claseCorporativa}}
        </td>
        <td *ngIf="col4">
          {{unidad.strNombreDealer}}
        </td>
        <td *ngIf="col10">
          {{unidad.strLocalidad}}
        </td>
        <td *ngIf="col5">
          {{unidad.motor}}
        </td>
        <td *ngIf="col6">
          {{unidad.fchInventario | date: 'fullDate'}}
        </td>
        <td *ngIf="col7">
          {{unidad.diasPlan}}
        </td >
        <td *ngIf="col8">
          {{unidad.status}}
        </td>
        <td *ngIf="col9">
          {{unidad.intAntiguedad}} días
        </td>    

      </tr>
    </table>
  </div>