<div class="img-fondo"  style="min-height: 800px; background-image: url('assets/images/imagends.jpg');  text-align:center;">
  <br>
<div class="card-container">
    <a class="card" rel="noopener" routerLink="/unidades/" routerLinkActive="active">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" >list</mat-icon>

      <span>Inventarios</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
      <a class="card" rel="noopener" routerLink="/capturaventa/" routerLinkActive="active">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" >store</mat-icon>
  
        <span>Datos Venta</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
        </a>

        <a class="card" rel="noopener" routerLink="/listadopublicadas/" routerLinkActive="active">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" >public</mat-icon>
    
          <span>Unidades Públicadas</span>
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
          </a>
  

  </div>
</div>